<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="xigen_testimonial/testimonial/index" id="Xigen_Testimonial::xigen_testimonial_testimonial" module="Xigen_Testimonial" parent="Xigen::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Testimonial"/>
	</menu>
</config>
