<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xigen" sortOrder="500" translate="label">
            <label>Xigen</label>
        </tab>
        <section id="testimonial" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Testimonial</label>
            <tab>xigen</tab>
            <resource>Xigen_Testimonial::config_xigen_testimonial</resource>
            <group id="testimonial" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Testimonial</label>
                <field id="enababled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
